/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #C3E3EB;
  }

  .hero {
    background-color: #36454F;
    padding: 100px 20px;
    text-align: center;
    position: relative;
  }

   .hero img {
    max-width: 600px;
    position: absolute;
    left: 30px;
    top: 50px;
    
  }

  .hero h1 {
    margin-top: 300px;
    margin-right: 550px;
    font-size: 80px;
    color: white;
  }

  .hero p {
    margin-top: 50px;
    margin-left: 550px;
    font-size: 30px;
    color: #ffffff;
  }

  /* Mobile Optimization */
@media (max-width: 608px) {
  .hero {
      flex-direction: column; /* Stack image and text */
      text-align: center;
      padding: 50px 20px;
  }

  .hero img {
      max-width: 60%; /* Adjust size for mobile */
      position: absolute; 
      margin-bottom: 20px;
      margin-left: -100px;
  }

  .hero h1 {
      font-size: 50px;
      margin: 0;
      margin-top: 100px;
      text-align: center;
  }

  .hero p {
      font-size: 20px;
      text-align: center;
      margin-left: 150px;

  }
}

  /* Typewriter Effect */
  .line-1 {
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
  }

  /* Animation */
  .anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }

  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 36em;
    }
  }

  @keyframes blinkTextCursor {
    from {
      border-right-color: rgba(255, 255, 255, .75);
    }
    to {
      border-right-color: transparent;
    }
  }

  /* Ensure the carousel stays on the left side */
.carousel {
    max-width: 100%;
    width: 90%; /* Adjust width to fit nicely */
    margin-left: -200px; /* Aligns to the left */
  }
  
  .carousel img {
    width: 100%; /* Ensures images are responsive */
    height: 500px;
    border-radius: 10px; /* Optional: rounded corners */

  }

  .favoritemusic p{
    font-size: 30px;
    margin-left: 40px;
    color: white;
  }

  .favoritemusic h2{
    font-size: 50px;
    color: white;
    
  }

  .body2{
    background-color: #C3E3EB;
    
  }

  #favoritemusic{
    background-color: #36454F;
    padding: 70px 20px;
    
  }

  .favoritemusic{
    background-color: #C3E3EB;
    padding: 30px;
    box-shadow: 5px 10px;
    
  }



  
  
  

  
